<% if action == :new %>
  <% action_url = cats_url %>
  <% submit_value = "Add new cat" %>
<% elsif action == :edit %>
  <% action_url = cat_url(cat) %>
  <% submit_value = "Change cat" %>
<% end %>


<% cat_color = cat.color %>

<form action="<%= action_url %>" method="post">
  <% if action == :edit %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  
  <label>
    Name: 
    <input type="text" name="cat[name]" value="<%= cat.name %>">
  </label>
  <br>
  <label>
    Gender: 
    M
    <input type="radio" name="cat[sex]" value="M">
    F
    <input type="radio" name="cat[sex]" value="F">
  </label>
  <br>
  <label>
    Birthday: 
    <input type="date" name="cat[birth_date]" value="<%= cat.birth_date %>">
  </label>
  <br>
  <select name="cat[color]">
    <option disabled selected>--select a color--</option>
    <option value="blue" <%= cat_color == "blue" ? "selected" : ""%> >Blue</option>
    <option value="red" <%= cat_color == "red" ? "selected" : ""%> >Red</option>
    <option value="calico" <%= cat_color == "calico" ? "selected" : ""%> >Calico</option>
    <option value="indigo" <%= cat_color == "indigo" ? "selected" : ""%> >Indigo</option>
  </select>
  <br>
  <label>
    Description:
    <br>
    <textarea name="cat[description]" value="<%= cat.description %>"></textarea>
  </label>
  <br>
  <input type="submit" value="<%= submit_value %>">
</form>